.highlight-bold {
  color: var(--color-text-highlight-bold);
  font-weight: bold;
  text-shadow: 0px 0px 2px var(--color-text-shadow);
}

.solution-list-header {
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-bg-card-dark);
  padding: var(--spacing-s);
  margin-block: var(--spacing-xs);
  border: var(--border-width) solid var(--color-border-dark);
  border-radius: var(--border-radius);

  &.expanded {
    border-bottom-left-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
    margin-bottom: 0;
    
    &:hover:not([data-disabled="true"]) {
      background-color: var(--color-bg-hover-dark);
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 8px 0 var(--color-outline-dark);
      border-bottom-left-radius: var(--border-radius-s);
      border-bottom-right-radius: var(--border-radius-s);
    }
  }

  &[data-disabled="true"] {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover:not([data-disabled="true"]):not(.expanded) {
    background-color: var(--color-bg-hover-dark);
  }

  &:focus-visible:not(.expanded) {
    outline: var(--outline-width) solid var(--color-outline-dark);
  }
}

.solution-list-content {
  padding-top: var(--spacing-xs);
  padding-inline: var(--spacing-xs);
  border-left: var(--border-width) solid var(--color-border-dark);
  border-right: var(--border-width) solid var(--color-border-dark);
  border-bottom: var(--border-width) solid var(--color-border-dark);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--color-text-light);
  max-height: 26em;
  overflow-y: auto;
  position: relative;

  > body {
    &:not(:last-of-type) .solution-list-item:last-of-type {
      border-bottom: var(--border-width) solid var(--color-border-dark);
    }

    &:last-of-type .solution-list-item:last-of-type {
      border-bottom: none;
    }
  }
}

.solution-list-item {
  margin-bottom: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  border-bottom: var(--border-width) solid var(--color-border-dark);
  font-family: var(--font-family-monospace);
  font-size: 12pt;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover .item-content {
    transform: scale(1.05);
    transform-origin: center;
    transition: transform 0.025s;
  }
}

.item-number {
  text-align: left;
  user-select: none;
  margin-right: 1em;
  font-weight: bold;
  color: var(--color-text-muted);
}

.item-content {
  display: inline-block;
  outline: none;
  cursor: text;
  padding-inline: var(--spacing-s);
  padding-block: var(--spacing-xs);
  transition: transform 0.2s;

  &:focus {
    box-shadow: inset 0 0 2px 2px var(--color-outline-dark);
    border-radius: var(--border-radius);
    transform: scale(1.05);
    transform-origin: center;
    transition: transform 0.025s;
  }
}

.loading-indicator {
  display: flex;
  align-items: center;
  padding: var(--spacing-s);
  color: var(--color-text-light);
  font-weight: bold;
  font-family: sans-serif;
}

.spinner {
  border: 3px solid var(--color-spinner-base);
  border-top: 3px solid var(--color-spinner-highlight);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1.2s linear infinite;
  margin-right: var(--spacing-s);
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
