:root {
    --border-radius: 6px;
    --border-radius-s: 2px;
    --border-width: 2px;

    --color-bg-panel-light: #e0e0e0;
    --color-bg-panel-dark: #252525;

    --color-bg-card-light: #f8f8f8;
    --color-bg-card-dark: #323232;
    --color-bg-hover-dark: #3b3b3b;

    --color-border-light: #cccccc;
    --color-border-dark: #4b4b4b;

    --color-text-light: #d3d3d3;
    --color-text-dark: #000000;
    --color-text-muted: #888888;
    --color-text-shadow: #868686;
    --color-text-highlight-bold: #dadada;

    --color-outline-light: #909090;
    --color-outline-dark: #707070;

    --color-spinner-base: #555555;
    --color-spinner-highlight: #f3f3f3;

    --outline-width: 3px;

    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-m: 20px;

    --font-family-ui: Arial, Verdana, sans-serif;
    --font-family-input: Verdana, Tahoma, sans-serif;
    --font-family-monospace: monospace;
}
